<ion-view view-title="config">
    <ion-content>
        <ion-list>
            <ion-toggle ng-model="settings.enableEcompass">
                Enable E-compass
            </ion-toggle>
            <ion-toggle ng-model="settings.enableGPS">
                Enable GPS
            </ion-toggle>
            <ion-toggle ng-model="settings.enableAlert">
                Enable Alert
            </ion-toggle>
            <ion-toggle ng-model="settings.enableGodMode">
                Enable GodMode
            </ion-toggle>

            <button class="ion-button-outline">Outline + Round</button>
            <button class="ion-button icon-start">
                <ion-icon name="star">reset</ion-icon>

            </button>
        </ion-list>
    </ion-content>
</ion-view>
