<ion-view view-title="forecasts">
    <ion-content>

        <button ion-button block>add location</button>
        <button ion-button block>your current location</button>

        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="forecast in forecasts" type="item-text-wrap" href="#/tab/forecasts/{{forecast.id}}">
                <img ng-src="{{forecast.flag}}">
                <h2>{{forecast.country}}</h2>
                <p><img ng-src="{{forecast.weather}}" style="width: 64px; height: 64px"></p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="remove(forecast)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
