<ion-view view-title="config">
    <ion-content>
        <ion-list>
            <ion-toggle ng-model="settings.enableEcompass">
                Enable E-compass
            </ion-toggle>
            <ion-toggle ng-model="settings.enableGPS">
                Enable GPS
            </ion-toggle>
            <ion-toggle ng-model="settings.enableAlert">
                Enable Alert
            </ion-toggle>

            <button ion-button round outline>Outline + Round</button>
            <button ion-button icon-start>
                <ion-icon name="star"></ion-icon>
                Left Icon
            </button>
        </ion-list>
    </ion-content>
</ion-view>
