<ion-view view-title="About">
    <ion-content class="padding">
        <h2 class="about">Welcome to MyApp !!</h2>
        <p>
            This is my first App what I build on ionic, And I will make more apps in the future. please visit <a href="http://google.com/" target="_blank">My site !!</a>.
        </p><br>
        <p>
            This is an ordinary weather app ,but it is my first step to success!.
        </p><br>
        <p>
            I am a super beginner about programming .If you help me, please <a href="http://twitter.com/" target="_blank">follow me!</a> on Twitter or <a href="http://facebook.com/" target="_blank">Can I friend you on Facebook?</a>
        </p>

    </ion-content>
</ion-view>
