/* Empty. Add your own CSS if you like */

.about {
    color: red;
}

p {
    font-size: 18px;
}

.ion-button-outline {
    background-color: darkgray;
}

.ion-button-block {
    color: aquamarine;
    backgound-color: purple;
}
